.next/

.ionide/

node_modules/
node/server/fableImports


microservices/EmployeeMicroservice-crud/bin/
microservices/EmployeeMicroservice-crud/obj/
microservices/EmployeeMicroservice-crud/.ionide/

backend-crud/.ionide/
backend-crud/bin/
backend-crud/obj/
