.next/

.ionide/

node_modules/
node/server/fableImports


microservices/RandomNumberMicroservice/bin/
microservices/RandomNumberMicroservice/obj/
microservices/RandomNumberMicroservice/.ionide/

backend-crud/.ionide/
backend-crud/bin/
backend-crud/obj/
