.next/

.ionide/

node_modules/
node/server/fableImports
#must be re-compiled from fable project each time
node/components/fable-components.js 

Fable/UI/bin/
Fable/UI/obj/

Fable/Common/bin
Fable/Common/obj

Fable/public/


microservices/EmployeeMicroservice-crud/EmployeeMicroservice/bin/
microservices/EmployeeMicroservice-crud/EmployeeMicroservice/obj/
microservices/EmployeeMicroservice-crud/EmployeeMicroservice/.ionide/

microservices/EmployeeMicroservice-crud/MessageQueueLayer/bin/
microservices/EmployeeMicroservice-crud/MessageQueueLayer/obj/
microservices/EmployeeMicroservice-crud/MessageQueueLayer/.ionide/

backend-crud/.ionide/
backend-crud/bin/
backend-crud/obj/
